#
# $Id: conf.pl 6727 2007-10-29 21:21:33Z barrickw $
#

$SYS_DIR = "<%= @code_path %>";

#iPortal installations conf directory
$IPORTAL_CONF_DIR = "<%= @code_path %>/vtls_conf";

#Web settings
$CONTENT_TYPE = "text/html";

1;
